Library
Logs
/android/*
BundleCache
/ios/*
Temp
obj
.vs
.lingma/
.vsconfig
Recordings
/*.csproj
/*.sln
/Assets/XLua/Gen
/Assets/StreamingAssets
/Res
.lpproj
Gen
/Assets/3rd/AssetGraph/AssetBundles/Cache/TemporalSettingFiles/AssetReferenceDB.asset
/Assets/3rd/AssetGraph/Cache/AssetBundleBuildMap.asset
AmplifyShaderEditor
Assets/AmplifyShaderEditor.meta
/Assets/3rd/AssetGraph/Cache/AssetBundleBuildMap.asset.meta
/*.idea
/Assets/3rd*
/Assets/~Test*
Data/Log/Debuggee.log
/Assets/FindReference2
/Assets/FR2_Cache.asset.meta
/Assets/FindReference2.meta
/Assets/FR2_Cache.asset
MeshTerrainEditor
MeshTerrainEditor~
/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
/ProjectSettings/EditorSettings.asset
/StreamingAssetsRes/android
/Docs/android
/AssetBundles
/ZW_OutPut
/*.apk
/test/*
/Assets/Test/*
/Assets/Test.meta
Assets/zhx
Assets/zhx.meta
/HybridCLRData/AssembliesPostIl2CppStrip
/HybridCLRData/HotUpdateDlls
/HybridCLRData/StrippedAOTDllsTempProj
/UserSettings/Layouts
project-diy.sln.DotSettings.user
.editorconfig
